
body {
    background-color: #0f1923;
    color: #ffffff;
}

.bg-light {
    background-color: #112e42 !important;
}

/* Website Title */
.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(90deg, #38bdf8, #805ad5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Top Nav Buttons */
.nav-link {
  color: #64ffda !important;
  border: 1.5px solid #64ffda !important;
  background-color: transparent !important;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 15px;
  transition: all 0.3s ease;
  text-align: center;
}

.nav-link:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 0 12px #64ffda;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 55px;
  right: -270px;
  width: 270px;
  height: 50vh;
  background-color: #112e42;
  padding: 10px;
  transition: right 0.3s ease;
  z-index: 1050;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.side-menu.show {
  right: 0;
}

.side-menu ul {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
}

.side-menu ul li {
  margin-bottom: 20px;
}

.side-menu .nav-link {
  color: #64ffda !important;
  border: 1.5px solid #64ffda !important;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.side-menu .nav-link:hover {
  transform: translateY(-0.5px);
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 0 12px #64ffda;
}
